*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* *-*-*-*-*-*-*-*-*-*-*-*-* Utility Components *-*-*-*-*-*-*-*-*-*-*-*-* */

:root {
    font-size: 62.5%;
    

    /**** Custom Properties ****/


    --primary-color: hsl(217, 54%, 11%);
    --secondary-color: hsl(216, 50%, 16%);
    --line-color: hsl(215, 32%, 27%);

    /* Fonts Color */
    --font-color-h: hsl(0, 0%, 100%);
    --font-color-p: hsl(215, 51%, 70%);
    --font-color-specify: hsl(178, 100%, 50%);
}

body {
    background-color: var(--primary-color);
    font-family: 'Outfit', sans-serif;
    line-height: 1.4;
    min-height: 100vh;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   
}

main {
    flex: 1;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;   
}

h1, hr, p {
    margin-bottom: 1rem;
}

h1 {
    color: var(--font-color-h);
    font-size: 1.95rem;
    font-weight: 600;
    width: 100%;
}

hr {
    height: 0.09rem;
    width: 26.8rem;
    background-color: var(--line-color);
    border: none;
}

p {
    color: var(--font-color-p);
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 0.9rem;
}

span {
    color: var(--font-color-h)
}

span:hover,
h1:hover {
    color: var(--font-color-specify);
    cursor: pointer;
}


/* *-*-*-*-*-*-*-*-*-*-*-*-* Main Styling*-*-*-*-*-*-*-*-*-*-*-*-* */

section.card {
    background-color: var(--secondary-color);
    border-radius: 1.2rem;
    margin-top: 1.6rem;
    padding: 2.1rem;

    height: 48rem;
    width: 28rem;

    -webkit-box-shadow: 8px 16px 45px 5px hsl(215, 55%, 8%);
    -moz-box-shadow: 8px 16px 45px 5px hsl(215, 55%, 8%);
    box-shadow: 8px 16px 40px 20px hsl(215, 55%, 8%);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center  
}